@inherits Blazor_Instrument_Cluster.Client.Code.DeviceComponent

<li id="DeviceItem" class="list-group-item container" style="width: 100%">
    <div class="row">
        <div class="col">
            <b>Name: </b> @deviceInfo.name
        </div>
        <div class="col">
            <b>Location: </b> @deviceInfo.location
        </div>
        <div class="col">
            <b>Type: </b> @deviceInfo.type
        </div>
        <div class="col">
            <button @onclick="navigateToDevicePage" class="btn-dark">Select</button>
        </div>
    </div>
    @{
        int video = 0;
        int control = 0;
        foreach (var subDev in deviceInfo.subDevice) {
            if (subDev.isVideoDevice) {
                video++;
            }
            else {
                control++;
            }
        }
    }
    <div class="row">
        <p><b>Video Connections:</b> @video</p>
    </div>
    <div class="row">
        <p><b>Control Connections:</b> @control</p>
    </div>
</li>
