@page "/VideoAndControl/{name}/{location}/{type}/{subnameCrestron}/{subNameVideo}"
@layout TopBar

<div style="width: 1280px; height: 720px; position: relative" class="container">
    <CascadingValue Value="@queuePosition">
        <KeyboardMouse name="@name" location="@location" type="@type" subname="@subnameCrestron"></KeyboardMouse>
    </CascadingValue>
    <Video name="@name" location="@location" type="@type" subname="@subnameVideo"></Video>

</div>

@code {
    [Parameter]
    public string name { get; set; }                                        //Name of the wanted device
    [Parameter]
    public string location { get; set; }
    [Parameter]
    public string type { get; set; }
    [Parameter]
    public string subnameCrestron { get; set; }
    [Parameter]
    public string subnameVideo { get; set; }

    int queuePosition = -1;

}