@using Blazor_Instrument_Cluster.Client.Components.VirtualKeyboard
@page "/VideoAndControl/{urlName}/{urlLocation}/{urlType}/{urlJsonCrestronConnection}/{urlVideoConnection}"
@layout TopBarLayout

<div style="width: 1280px; height: 720px; position: relative" class="container">
    <KeyboardMouse urlName="@urlName" urlLocation="@urlLocation" urlType="@urlType" urlListSubconnections="@urlJsonCrestronConnection" @ref="keyboardMouse"></KeyboardMouse>
    <VideoMJPEG urlJsonSubConnectionsList="@urlVideoConnection"></VideoMJPEG>
    <div style="margin: 1em">
        <VirtualKeyboard keyEvent="@handleKeyEvent"></VirtualKeyboard>
    </div>
    
</div>


@code { [Parameter]
    public string urlName { get; set; }
    [Parameter]
    public string urlLocation { get; set; }
    [Parameter]
    public string urlType { get; set; }
    [Parameter]
    public string urlJsonCrestronConnection { get; set; }
    [Parameter]
    public string urlVideoConnection { get; set; }

    private KeyboardMouse keyboardMouse;

    private void handleKeyEvent(string s)
    {
        keyboardMouse.virtualKeyboardHandler(s);
    } }