@page "/VideoAndControl/{name}/{location}/{type}/{subnameCrestron}/{videoPort}"
@layout TopBar

<h3>Combined</h3>

<div style="width: 1280px; height: 720px; position: relative">
    <KeyboardMouse name="@name" location="@location" type="@type" subname="@subnameCrestron"></KeyboardMouse>
    <VideoMJPEG port="@videoPort"></VideoMJPEG>
</div>


@code {
    [Parameter]
    public string name { get; set; }                                        //Name of the wanted device
    [Parameter]
    public string location { get; set; }
    [Parameter]
    public string type { get; set; }
    [Parameter]
    public string subnameCrestron { get; set; }
    [Parameter]
    public string videoPort { get; set; }

}
