@page "/VideoAndControl/{name}/{location}/{type}/{urlSubnames}/{urlVideoPorts}"
@layout TopBarLayout

<div style="width: 1280px; height: 720px; position: relative" class="container">
    <KeyboardMouse name="@name" location="@location" type="@type" subname="@urlSubnames"></KeyboardMouse>
    <VideoMJPEG urlPortObject="@urlVideoPorts"></VideoMJPEG>
</div>

@code {
    [Parameter]
    public string name { get; set; }                                        //Name of the wanted device
    [Parameter]
    public string location { get; set; }
    [Parameter]
    public string type { get; set; }
    [Parameter]
    public string urlSubnames { get; set; }
    [Parameter]
    public string urlVideoPorts { get; set; }

}